.mainContainer-faq{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 5% 0 5%;
  margin-bottom: 100px;
  height: 100vh;
}
.childContainer{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.questions{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.faqHeading{
  font-size: 30px;
  color: #05B97D;
  margin-bottom: 20px;
  padding-left: 20px;
}
.answers{
  font-size: 15px;
  margin-top: 10px;
}

@media (max-width: 778px){
  .mainContainer-faq{
    padding: 0 5% 0 5%;
    margin-bottom: 10px;
  }
  .childContainer{
    margin: 10px 0 10px 0;
  }
  .faqHeading{
    padding-left: 0;
  }
}