.heading-cont{
    padding-top:50px;
}

.paths{
    padding:50px;
    padding-top:0px;
}


.paths-cont{
    height:100%;
    width:max-content;
    gap:30px;
    padding-top:50px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}


.path{
    width: 440px;
    display:flex;
    flex-direction: column;
    padding:20px;
    background-color: #F3F3F3;
    border-radius:12px;
    gap:20px;
    padding-top:30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor:pointer;
}

.path h2{
    font-size:20px;
    color:#282828;
}

.path-infor{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    align-items:center;
}
.path-infor h2{
    font-size:18px;
    color:#555555;
}
.tag{
    font-size:15px;
    color:white;
    background-color: #05B97D;
    border-radius: 8px;
    padding: 5px 7px;

}
.path-explanation{
    font-size:15px;
    font-weight:300;
    color:#4d4c4c;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
}

.Path-model{
    /* position:fixed; */
    
    z-index:1000001;
    overflow-y: scroll;
    /* padding:50px; */
    top:0;
    left:0;
    height:100%;
    width:100vw;
    padding:20px;
    padding-top:110px;

    background-color: rgba(216, 216, 216,0.5);
}

.path-model-2{
    padding:40px;
    width:100%;
    height:100%;
    background-color: white;
    box-sizing: border-box;

    
}
.clos{
    height:80px;
    color:red;
    border:1px solid white;
}

#model-path-infor{
    padding-top:10px;
}

.path-model-2 h1{
    padding-bottom:30px;
}

.path-model-heading{
    padding-bottom:50px;
}

#model-path-table{
    display:flex;
    flex-direction: column;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.model-path-table1{
    /* padding:30px; */

}
.model-path-table1 tr{
    /* padding:10px; */
}
.model-path-table1 tr td{
    padding:14px;
    background-color: #bdedff;
    border:1px solid #006992;
    color:#1c1c1c;

}
.model-path-table1 tr th{
    color:white;
    padding:14px;
    background-color: #006992;    
}



@media screen and (max-width:550px) {
    .heading{
        /* padding-left:20px; */
        margin-left:0px;
    }
    .path{
        width: 100%;
        height: 100%;
    }
    .paths{
        padding:30px;
    }
    .path-model-2{
        padding:17px;
        padding-top: 30px;
        padding-bottom:30px;
    }
}